
<section class="about-us">
    <div class="about">
        <img src="../../../assets/image/{{single[0].images}}" class="pic" alt="">
      <div class="text">
        
        <!-- <h5>Odissi<span>  .</span></h5> -->
        <h1>{{single[0].name}}</h1>
        <p>{{single[0].descc}}</p>
              <div class="data">
        <a routerLink="artform" > <- BACK </a>
        </div>
      </div>
    </div>
  </section>







<!-- <div class="container"> -->
    <!-- <div class="row"> -->
        <!-- <div class="col mb-2 mt-5" > -->
            <!-- <img  src="../../../assets/image/{{single[0].img}}" class="img7" alt="..." height="200" width="300"> -->
<!-- <h1>{{single[0].images}}</h1> -->
<!-- <h1>{{single[0].descc}}</h1> -->
<!-- </div> -->


