<div>

<div class="container text-center">
    <div class="row">
      <div class="col" *ngFor="let item of artform">
        <div class="card text-bg-danger mb-3" style="width: 18rem;">
          <img src="../../../assets/image/{{item.images}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h1 class="card-title">{{item.name}}</h1>
            <p class="card-text">{{item.desc}}.</p>
            <a (click)="gotohere(item.id)" class="btn btn-primary">Continue</a>
          </div>
        </div>  
      </div>
    </div>
</div>
</div>

